<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> - Product</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <p><%= product.description %></p>
    <p>Price: $<%= product.price.toFixed(2) %></p>
    <p>Category: <%= getCategoryName(product.category) %></p>
    <img src="/src/<%= product.image %>" alt="<%= product.name %>" class="mb-4">
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
